/* MARK: GENERAL*/
@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(../Fonts/Poppins-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
}

/* MARK: VARIABLES */
:root {
  --colorNegro: rgb(26, 26, 26);
  --colorTexto: rgb(223, 223, 223);
}

@media (min-width: 993px) {
  .tablet {
    display: none;
  }

  .movil {
    display: none;
  }

  /* MARK: BARRA NAVEGACIÓN */
  #posicion_navbar {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }

  #diseño_navbar {
    background-color: var(--colorNegro);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 0.05em;
    border-radius: 30px;
  }

  .logos-navbar {
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .botones-navbar {
    margin: 0;
    padding: 0px 10px;
    cursor: pointer;
    border: none;
    background-color: var(--colorNegro);
  }

  .botones-navbar img {
    opacity: 80%;
    width: 30px;
    vertical-align: middle;
  }

  .categoria {
    display: block;
    color: var(--colorTexto);
    padding: 15px 10px;
    text-decoration: none;
  }

  .desplegable {
    display: block;
    visibility: hidden;
    position: absolute;
    list-style-type: none;
    padding: 0px;
    margin: 1px 0px;
    border-radius: 10px;
    background-color: var(--colorNegro);
    z-index: 1000;
    opacity: 0;
    transform: translateY(-15px);
    transition: opacity 0.7s ease, transform 0.7s ease;
  }

  .desplegable a {
    display: block;
    color: var(--colorTexto);
    padding: 12px 25px;
    text-decoration: none;
  }

  li:hover .desplegable {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  #diseño_navbar a,
  #diseño_navbar button {
    transition: opacity 0.9s ease;
  }

  #diseño_navbar a:hover,
  #diseño_navbar button:hover {
    opacity: 50%;
  }

  /* MARK: INDICE FLOTANTE*/
  #posicion_indice {
    position: fixed;
    top: 40%;
    right: 20px;
    background-color: var(--colorNegro);
    border-radius: 10px;
  }

  #indice {
    list-style-type: none;
    padding: 8px 40px;
  }

  #indice a {
    display: block;
    padding: 5px 0px;
    color: rgb(221, 221, 221);
  }

  #indice a:hover {
    opacity: 50%;
    transition: opacity 0.9s ease;
  }

  /* MARK: CONTENIDO*/
  main {
    background-image: url("../Img/General/Fondo\ Elden\ Ring.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    height: auto;
    display: flex;
    justify-content: center;
  }

  h2 {
    margin: 35px 0px 8px 0px;
    font-family: Roboto, bold;
    font-size: 25px;
    letter-spacing: 0.05em;
  }

  hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.801), #919191, rgba(255, 255, 255, 0));
  }

  a {
    text-decoration: none;
  }

  .contenido {
    background-color: rgb(26, 26, 26);
    color: rgb(221, 221, 221);
    padding: 5px 20px 20px 20px;
    padding-top: 80px;
    max-width: 900px;
    font-family: Poppins;
    font-size: 16px;
    z-index: 999;
  }

  /* MARK: SELECCIONABLES ICONOS*/
  #seleccionables_iconos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 50px; /* Define 50 píxeles de espacio entre los elementos */
    padding: 20px;
  }

  #seleccionables_iconos .item_iconos {
    text-align: center;
  }

  #seleccionables_iconos a {
    display: block;
    text-decoration: none;
  }

  #seleccionables_iconos img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }

  #seleccionables_iconos a:hover img {
    transform: scale(1.2);
  }

  #seleccionables_iconos p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(240, 248, 255, 0.74);
  }

  /* MARK: SELECCIONABLES IMAGENES*/
  #seleccionables_imagenes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    padding: 30px;
  }

  #seleccionables_imagenes .item_imagenes {
    text-align: center;
    position: relative;
  }

  #seleccionables_imagenes a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }

  #seleccionables_imagenes img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  #seleccionables_imagenes a:hover img {
    transform: scale(1.2);
  }

  #seleccionables_imagenes p {
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(240, 248, 255, 0.74);
  }

  /* MARK: HUMO ANIMADO*/
  #humo_principal,
  #humo_secundario {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
  }

  #humo_principal {
    background-image: url("../img/General/Humo-2.png");
    animation: animarHumoPrincipal 120s linear infinite;
  }

  #humo_secundario {
    background-image: url("../img/General/humo-1.png");
    animation: animarHumoSecundario 50s linear infinite;
  }

  @keyframes animarHumoPrincipal {
    0% {
      opacity: 0;
      background-position: top right;
    }
    2%,
    95% {
      opacity: 0.3;
    }
    100% {
      opacity: 0;
      background-position: top left;
    }
  }

  @keyframes animarHumoSecundario {
    0% {
      opacity: 0;
      background-position: top right;
    }
    5%,
    95% {
      opacity: 0.6;
    }
    100% {
      opacity: 0;
      background-position: top left;
    }
  }
}
