/* AJUSTES GENERALES */
@font-face {
  font-family: "Roboto";
  src: url(Tipografías/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Poppins";
  src: url(Tipografías/Poppins/Poppins-BoldItalic.ttf);
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Poppins";
  src: url(Tipografías/Poppins/Poppins-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

/* ENCABEZADO */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 800px;
  padding: 10px;
  margin-left: 300px;
}

header button {
  margin: 3px;
  cursor: pointer;
  transition: background-color 0.8s ease;
  font-family: Roboto, Bold;
  font-size: 11.3px;
  letter-spacing: 0.1em;
}

#contenedor_botones {
  margin-left: 20px;
}

#iniciar_sesion {
  padding: 6.2px 18px 6.2px 18px;
  color: #f1efc9;
  border: 3px solid #95916b;
}

#registrarse {
  padding: 7px 18px 7px 14px;
  color: #f1efc9;
  border: none;
  background-color: #95916b;
  border-radius: 10px;
}

#registrarse img {
  width: 18px;
  margin-right: 2px;
  vertical-align: middle;
}

/* BARRA DE NAVEGACIÓN */
.nav {
  background-color: #95916b;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Roboto, Bold;
  font-size: 15px;
  letter-spacing: 0.05em;
  z-index: 1000;
}

.nav li {
  position: relative; /* NO ENCUENTRO QUE ES LO QUE HACE ESTO */
}

.nav > li {
  float: left; /* NO ENCUENTRO QUE ES LO QUE HACE ESTO */
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #757575;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* CONTENIDO PRINCIPAL*/
main {
  background-image: url("Imágenes/Index/Dark\ Souls\ 3\ Art.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: auto;
  display: flex;
  justify-content: center;
}

h2 {
  margin: 35px 0px 8px 0px;
  font-family: Roboto, bold;
  font-size: 25px;
  letter-spacing: 0.05em;
}

hr {
  border: 0;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.801),
    #919191,
    rgba(255, 255, 255, 0)
  );
}

a {
  text-decoration: none;
}

.contenido {
  background-color: rgb(26, 26, 26);
  color: rgb(221, 221, 221);
  padding: 5px 20px 20px 20px;
  max-width: 850px;
  font-family: Poppins, normal;
  font-size: 16px;
}

.contenido_der {
  margin: 20px 0px 0px 10px;
  float: right;
  max-width: 100%;
  height: 333px;
}

.contenido_izq {
  text-align: left;
}

main nav {
  width: 400px;
  padding: 10px;
  border: 3px solid #ffffff6b;
  border-radius: 10px;
}
